main{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    height: 700px;
}

.validation{
    display: flex;
    justify-content: space-between;
}
.fa-check{
    font-size: 60px;
}
.formulair__title{
    color: black;
    margin-top: 0px;
    padding: 10px;
    border: 1px solid black;
}
.formulair{
border: 2px solid black;
height: 580px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
width: 380px;
}
p{
    font-size: 24px;


}
